body {
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
  position: fixed;
  filter: none;
}


#plot {
  height: 67%;
  width: 90%;
  margin: auto;
}


.axis {
  font-size: 14pt;
}


.top-right-legend {
  visibility: hidden;
}


#explain{
  height: 33%;
  width: 100%;
  max-width: 1000pt;
  margin-left: auto;
  margin-right: auto;
}


#functionExpressionContainer{
  height: 30%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

#functionExpression{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: 'Crimson Text', serif;
  font-size: 25pt;
  padding-top: 10pt;
}

#paramsExplain{
  height: 70%;
  width: 100%;
  position: relative;
}

.paramExplain{
  width: 50%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding-top: 60pt;
  padding-left: 30pt;
  padding-right: 30pt;
  font-size: 16pt;
  text-align: center;
}

.paramExplainText{
  width: 100%;
}

#trainingExplain{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
}

#trainingExplainGestureAndTimer{
  width: 34%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

#trainingExplainGesture{
  width: 100%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20pt;
  box-sizing: border-box;
}

#trainingExplainTimer{
  width: 100%;
  height: 34%;
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 30pt;
  box-sizing: border-box;
}

#trainingExplainText{
  width: 64%;
  height: 100%;
  padding-top: 60pt;
  padding-right: 40pt;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  font-size: 20pt;
}

.paramGesto{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a{
  color: #08587B;
  font-family: 'Crimson Text', serif;
  font-size: 24pt;
}

.b{
  color: #e85f5c;
  font-family: 'Crimson Text', serif;
  font-size: 24pt;
}

.a_format{
  color: #08587B;
  font-family: 'Crimson Text', serif;
  font-size: 24pt;
}


.b_format{
  color: #e85f5c;
  font-family: 'Crimson Text', serif;
  font-size: 24pt;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

#menu {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  visibility: hidden;
}

#menuBox {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(0,0,0,0);
}

.menuButton {
  height: 30%;
  width: 50%;
  background-color: #ffffff;
  border: solid;
  border-color: #08587B;
  border-width: 3px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.menuButton:active {
  box-shadow: inset 0px 0px 30px #08587B;
}

.clickedButton {
  box-shadow: inset 0px 0px 30px #08587B;
}

.menuButtonText {
  color: #08587B;
  font-size: 18pt;
}

#pointingCont {
  width: 80pt;
  height: 80pt;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  left: 5%;
}

#cursor {
  height: 10pt;
  width: 10pt;
  left: 100px;
  top: 100px;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(246,130,140,1);
  border-width: 2pt;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#cursorCircle {
  height: 30pt;
  width: 30pt;
  border-radius: 100%;
  background-color: rgba(246,130,140,0.3);
  border: solid;
  border-color: rgba(246,130,140, 0.7);
  border-width: 1px;
  position: absolute;
}

#gestureIndicatorsCont {
  width: 110pt;
  height: 45pt;
  position: absolute;
  top: 4%;
  left: 95%;
  transform: translateX(-100%);
  text-align: center;
  font-size: 13pt;
}

.indicator {
  width: 45pt;
  height: 45pt;
  transform: translateX(-50%);
  display: inline-block;
  box-sizing: border-box;
  background-color: #ffffff;
  border: solid;
  border-radius: 100%;
  border-color: #D4D4D4;
  border-width: 1px;
  padding: 5pt;
  margin-left: 10pt;
}

.gesto{
  max-width: 100%;
  max-height: 100%;
}
